<%- include('../partials/albums-head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    <figure class="img__wrapper">
       
       
  
        <h3 class="figure__h3">September</h3>
        <h2 class="figure__h2">Jonas Brothers</h2>
    </figure>
    
    <article class="section__wrapper">
      
        
    </article>

</main>
<template id="template-feature">
       
    <img class="section__img" src="" alt="">
   

   

    <h3 class="figure__h3"></h3>
    <h2 class="figure__h2"></h2>
</template>

<template id="album-play">
    <section class="article__section">
        <img class="play__img" src="" alt="">
       <div class="section__div">
            <h3 class="section__div-h3">bhh</h3>
            <p class="section__div-p">jnf</p>
       </div>
        <p class="section__div-p2">12 songs</p>
    </section>

</template>

<%- include('../partials/albums-footer'); %>
<%- include('../partials/after-footer'); %>