<%- include('../partials/albums-head'); %>
<%- include('../partials/albums-details-header'); %>
<%- include('../partials/nav'); %>
<main>
    <article class="section__wrapper-album">
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
       
        
    </article>
    
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>