
<%- include('../partials/album-details-head'); %>
<%- include('../partials/albums-details-header'); %>
<%- include('../partials/nav'); %>
<main>
    <section class="main__section">

    </section>
    <!-- <article class="section__wrapper-album">
        <section class="article__section-album">
            <a href="/player">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
            </a>
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
            
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
       
        
    </article>
     -->
     <div class="spinner"></div>
</main>

<template id="template-albumdeatils">
   <a href="/player"> <figure class="playlist_li">
       <img class="figure__img" src="/assets/images/Group 422.svg">
        <div class="div_textbox">
          <h4 class="playlist_songname"></h4>
              <h4 class="playlist_artist"></h4>
          </div>
          <div class="timelength_box">
                  <p class="playlist_timelength">3:58</p>
              </div>
    </figure>
</a>
</template>

<%- include('../partials/albums-details-footer'); %>
<%- include('../partials/after-footer'); %>