<%- include('../partials/html'); %>
<%- include('../partials/albums-head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    <div class="section__p-wrapper">
        <p class="section__p">Featured Albums</p> 
        <p class="section__p2"> View all</p>
    </div>
    <figure class="img__wrapper">
       
       
  
        <h3 class="figure__h3"></h3>
        <h2 class="figure__h2"></h2>
    </figure>
    
    <article class="section__wrapper">
      
        
    </article>
    <div class="section__p-wrapper">
        <p class="section__p">artist of the month</p> 
        <p class="section__p2"> View all</p>
    </div>

</main>
<template id="template-feature">
       
    <img class="section__img" src="" alt="">
   

   

    <h3 class="figure__h3"></h3>
    <h2 class="figure__h2"></h2>
</template>

<template id="album-play">
    <a class="a-tag" href="/albums-details">
    <section class="article__section">
        <img class="play__img" src="" alt="">
       <div class="section__div">
            <h3 class="section__div-h3"></h3>
            <p class="section__div-p"></p>
       </div>
        <p class="section__div-p2"></p>
    </section>
    </a>

</template>

<%- include('../partials/albums-footer'); %>
<%- include('../partials/after-footer'); %>