<%- include('../partials/html'); %>
<%- include('../partials/artist-head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>

<main>
    <section class="main_section">
        <h1 class="section__h1">All Artist</h1>
        <div class="section__p-wrapper">
        <p class="section__p">artist of the month</p> 
        <p class="section__p2"> View all</p>
    </div>
    <figure class="img__wrapper">

        </figure>
   
    <div class="section__p-wrapper">
        <p class="section__p">Recomendations</p> 
        <p class="section__p2"> View all</p>
    </div>
    
    </section>
    <section class="img__wrapper2">
      
    </section>
    <section>
        <h1>Top Artist By Country</h1>
        <figure class="div__wrapper">
            <div class="green">
                <h2 class="green__div-h2">Top 50</h2>
                <br>
                <p class="div-p">us-uk</p>
            </div>
            <div class="blue">
                <h2 class="blue__div-h2">Top 50</h2>
                <p class="div-p">Global</p class="div-p">
            </div>
        </figure>
    </section>
    </main>

   

        <template id="template-feature">
       
            <img class="section__img" src="" alt="">
           
        
           
      
            <h3 class="figure__h3"></h3>
            <h2 class="figure__h2"></h2>
        </template>

        <template id="template2">
            <figure>
                <img class="img__1" src="" alt="">
                <figcaption class="figcaption_text"></figcaption>
            </figure>
            <figure>
                <img class="img__1" src="" alt="">
                <figcaption class="figcaption_text"></figcaption class="figcaption_text">
            </figure>
            <figure>
                <img class="img__1" src="" alt="">
                <figcaption class="figcaption_text"></figcaption class="figcaption_text">
            </figure>
        </template>

      

   

<%- include('../partials/artist-footer'); %>
<%- include('../partials/after-footer'); %>