<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    <section class="main_section">
        <h1 class="section__h1">Categories</h1>
    </section>
   <article class="artickle-categories">
       <section class="categories categoriesAlternative" id="eksempel">
        <p  class="categories-text">Alternative</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
 <article class="artickle-categories artickle-categories-hide">
     
 </article>
       
       <section class="categories categoriesBlues">
        <p  class="categories-text">Blues</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesClassical">
        <p  class="categories-text">Classical</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesCountry">
        <p  class="categories-text">Country</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesDance">
        <p  class="categories-text">Dance</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesElectronic">
        <p  class="categories-text">Electronic</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesFitness">
        <p  class="categories-text">Fitness & Workout</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesHiphop">
        <p  class="categories-text">Hip-Hop/Rap</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
       <section class="categories categoriesIndustrial">
        <p  class="categories-text">Industrial</p>
        <i class="fas fa-ellipsis-h categories-white"></i>
       </section>
   </article>

<script src="/assets/javascript/categories.js"></script>

<
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>