<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>


<main>
    <section class="main_section">
        <h1 class="section__h1">Featured</h1>
    <figure class="img__wrapper">
        <!-- <img class="section__img" src="/assets/images/pexels-photo-1816943.png" alt="">
        <h1 class="img__h1">The greatest snowman</h1>
        <h3 class="img__h3">Soundtrack</h3> -->
    </figure>
        
    </section>
    <!-- <figure class="img__wrapper">
        <img class="section__img" src="/assets/images/pexels-photo-1435457.png" alt=""> 
    </figure> -->
</main>
<template id='featuredTemplate'>
    <img class="section__img" src="/assets/images/pexels-photo-1816943.png" alt="">
    <p class="p"></p>

</template>
<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>

