<%- include('../partials/html'); %>
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main class="featuredmain">
    <section class="main_section">
        
    </main>
    <template id="template-feature">
        <a class="a-tag" href="/albums-details">
        <figure class="img__wrapper">
           <img class="section__img" src="" alt="">
        </figure>
    </a>
    </template> 
    
<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>

