<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main class="featuredmain">
    <section class="main_section">
        
    </main>
    <template id="template-feature">
        <figure class="img__wrapper">
           <img class="section__img" src="" alt="">
        </figure>
    </template> 
    <script src="/assets/javascript/feature.js"></script>
    
<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>

