<%- include('../partials/playlist-head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
    <section class="main__section">
        <h1 class="main__section__h1">Playlist</h1>

        <section class="section__section">
            <img class="img__section" src="/assets/images/pexels-photo-442540.png" alt="">
            <img class="img__section" src="/assets/images/photo-1545224144-b38cd309ef69.png" alt="">
            <img class="img__section" src="/assets/images/pexels-photo-949274.png" alt="">
        </section>

        <div  class="div__wrapper">
            <h2 class="div__h2">top 50</h2>
            <h2 class="div__h2">Rock Ballads</h2>
        </div>

    </section>

    <article class="section__wrapper-album">
        <section class="article__section-album">
            <a href="">

                <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
            </a>
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div-album">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <section class="article__section-album">
            <img class="section__img-album" src="/assets/images/feature1.jpg" alt="">
           <div class="section__div">
                <h3 class="section__div-h3-album">bhh</h3>
                <p class="section__div-p-album">jnf</p>
           </div>
            <p class="section__div-p2-album">12 songs</p>
        </section>
        <div class="button__wrapper">
        <button class="button">
            Listen all
        </button>
    </div>
</main>


<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>