<%- include('../partials/player-head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<main>
    <section class="main__section">
   <figure class="main__figure">
       <img class="main__figure-img" src="/assets/images/Asset 2@2x.png" alt="">
   </figure>

   <section>
       <div class="h2__wrapper">
             <h2>DONT CALL ME UP</h2>
       </div>
        <div>
            <p class="p__wrapper">MABEL</P>
        </div>
   </section>

   <figure class="img__wrapper">
       <img src="/assets/images/Group 458.png" alt="">
   </figure>

   

   <section class="play__section">
    <audio class="audio" controls src="/assets/images/Trevor Daniel - Falling (Official Music Video).mp3" type="audio/mp3"></audio>
      
   </section>
   </section>
</main>




<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>