<%- include('../partials/html'); %>
<%- include('../partials/playlist-head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
    <section class="main__section">
        <h1 class="main__section__h1">Playlist</h1>

        <section class="section__section">
           
        </section>

        <div  class="div__wrapper">
           
        </div>

    </section>

    <article class="section__wrapper-album">
       
        </article>
        <div class="button__wrapper">
        <button class="button">
            Listen all
        </button>
    </div>
</main>
<template id="playlists-template">
    <img class="img__section" src="" alt="">
   
</template>

<template id="featured-playlists">
   
        
       <div class="section__div-album">
        <a class="a-tag" href="/albums-datails">
    
            <img class="section__img" src="" alt="">
        </a>
            <h3 class="section__div-h3-album">bhh</h3>
            <p class="section__div-p-album">jnf</p>
            <p class="section__div-p2-album"></p>
       </div>
       
    
    </template>
    




<%- include('../partials/playlists-footer') %>
<%- include('../partials/after-footer') %>